// Susy global settings
$susy: (
	columns: 12,
	gutters: .25,
	global-box-sizing: border-box,
	use-custom: (rem: true),
	gutter-position: inside,
	debug: (image: hide)
);

// Default example breakpoints. Add and/or change to suit your design.
// Usage example:
// @include breakpoint($medium) {
//    background-color: purple;
// }
$small: 40em;
$medium: 45em;
$large: 55em;
$extra-large: 62em;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}